.fc {
  margin: 0 1rem;
}

.fc a {
  color: var(--foreground);
}

.fc-header-toolbar .fc-button-group {
  margin: 0.5rem 0;
}

.fc-header-toolbar .fc-toolbar-chunk {
  display: flex;
  flex-direction: column;
}

.fc-listMonth-button {
  margin: 0.5rem 0 !important;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0;
}
